span{
    margin-right: 70px;
    color: blue;
}
.displayAllBox{
    border: 2px solid black;
    text-align: left;
    width: 600px;
    margin: auto;
}
li{
    list-style-type: none;
}
h1{
    font-size: 25px;
}